In [11]:
import pandas as pd
import numpy as np
import tensorflow

In [4]:
df_amazon_updated = pd.read_csv("df_amazon_updated.csv")
df_flipkart = pd.read_csv("df_flipkart_NEW.csv")

In [5]:
df_amazon_updated.head()

,Unnamed: 0,name,rating,no_of_reviews,img_links
0,0,Scott International Men's Regular Fit T-Shirt ...,3.7 out of 5 stars,"31,628 ratings",https://m.media-amazon.com/images/I/71vp8Lec9J...
1,1,DAMENSCH T-Shirt,3.8 out of 5 stars,148 ratings,https://m.media-amazon.com/images/I/71LOO3vX61...
2,2,Amazon Brand - Symbol Men's Regular T-Shirt,4.0 out of 5 stars,"14,118 ratings",https://m.media-amazon.com/images/I/812qUiDzsx...
3,3,Amazon Brand - Symbol Men's Regular T-Shirt,3.9 out of 5 stars,824 ratings,https://m.media-amazon.com/images/I/71lMWdtwZS...
4,4,F GALLERY Printed Round Neck Half Sleeve T-Shi...,3.1 out of 5 stars,33 ratings,https://m.media-amazon.com/images/I/51c6bj0gVZ...

In [7]:
df_flipkart.head()

,Unnamed: 0,name,rating,no_of_reviews,img_links
0,0,"Color Block Men Hooded Neck Red, Black T-Shirt",4.0,"3,01,866",https://rukminim1.flixcart.com/image/714/857/k...
1,1,"Pack of 2 Striped Men Round Neck Black, Yellow...",3.7,"4,367",https://rukminim1.flixcart.com/image/714/857/l...
2,2,"Solid Men Mandarin Collar Brown, Black T-Shirt",3.9,"61,139",https://rukminim1.flixcart.com/image/714/857/k...
3,3,"Typography Men Hooded Neck Black, White T-Shirt",4.2,"3,513",https://rukminim1.flixcart.com/image/714/857/l...
4,4,"Pack of 2 Solid Men Henley Neck Maroon, Dark B...",3.7,"2,651",https://rukminim1.flixcart.com/image/714/857/k...

In [9]:
df_images = df_amazon_updated["img_links"]

In [10]:
df_images[0]

'https://m.media-amazon.com/images/I/71vp8Lec9JL._UX522_.jpg'

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

from keras.layers import Input, Dense, Conv2D, MaxPooling2D, UpSampling2D, Flatten
from keras.models import Model
from keras import backend as K
import tensorflow.keras.layers
import keras

input_img = Input(shape=(320, 192, 3))

x = Conv2D(64, (3, 3), activation='relu', padding='same')(input_img)
x = MaxPooling2D((2, 2), padding='same')(x)
x = Conv2D(32, (3, 3), activation='relu', padding='same')(x)
x = MaxPooling2D((2, 2), padding='same')(x)
x = Conv2D(16, (3, 3), activation='relu', padding='same')(x)
x = Conv2D(8, (3, 3), activation='relu', padding='same')(x)
x = Conv2D(8, (3, 3), activation='relu', padding='same')(x)
x = MaxPooling2D((2, 2), padding='same')(x)
x = Conv2D(8, (3, 3), activation='relu', padding='same')(x)
x = Conv2D(8, (3, 3), activation='relu', padding='same')(x)
x = Conv2D(8, (3, 3), activation='relu', padding='same')(x)
encoded = MaxPooling2D((2, 2), padding='same')(x)

x = Conv2D(8, (3, 3), activation='relu', padding='same')(encoded)
x = Conv2D(8, (3, 3), activation='relu', padding='same')(x)
x = Conv2D(8, (3, 3), activation='relu', padding='same')(x)
x = UpSampling2D((2, 2))(x)
x = Conv2D(8, (3, 3), activation='relu', padding='same')(x)
x = Conv2D(8, (3, 3), activation='relu', padding='same')(x)
x = Conv2D(16, (3, 3), activation='relu', padding='same')(x)
x = UpSampling2D((2, 2))(x)
x = Conv2D(32, (3, 3), activation='relu', padding='same')(x)
x = UpSampling2D((2, 2))(x)
x = Conv2D(64, (3, 3), activation='relu', padding='same')(x)
x = UpSampling2D((2, 2))(x)
decoded = Conv2D(3, (3, 3), activation='sigmoid', padding='same')(x)

autoencoder = Model(input_img, decoded)

optimizer = keras.optimizers.Adam(lr=0.001)
autoencoder.compile(optimizer=optimizer, loss='binary_crossentropy')

import zipfile

zip_ref = zipfile.ZipFile("Zipped_final.zip", 'r')
zip_ref.extractall("/tmp")
zip_ref.close()

from skimage.io import imread_collection

col_dir = '/tmp/Zipped/Amazon Images/*.jpg'
col_amazon = imread_collection(col_dir)
col_amazon = list(col_amazon)

from skimage.transform import resize

for i in range(len(col_amazon)):
    col_amazon[i] = resize(col_amazon[i], (320, 192, 3))

col_dir = '/tmp/Zipped/Flipkart Images/*.jpg'
col_fk = imread_collection(col_dir)
col_fk = list(col_fk)

for i in range(len(col_fk)):
    col_fk[i] = resize(col_fk[i], (320, 192, 3))

col_dir = '/tmp/Zipped/Myntra Images/*.jpg'
col_myntra = imread_collection(col_dir)
col_myntra = list(col_myntra)

for i in range(len(col_myntra)):
    col_myntra[i] = resize(col_myntra[i], (320, 192, 3))

col_dir = '/tmp/Zipped/Pinterest Men Images/*.jpg'
col_pinmen = imread_collection(col_dir)
col_pinmen = list(col_pinmen)

for i in range(len(col_pinmen)):
    col_pinmen[i] = resize(col_pinmen[i], (320, 192, 3))

col_dir = '/tmp/Zipped/Pinterest Women Images/*.jpg'
col_pinwom = imread_collection(col_dir)
col_pinwom = list(col_pinwom)

for i in range(len(col_pinwom)):
    col_pinwom[i] = resize(col_pinwom[i], (320, 192, 3))

col_clothes = col_amazon+col_fk+col_pinmen+col_myntra+col_pinwom

x_train = np.array(col_clothes[0:3000])
x_test = np.array(col_clothes[3000:])
x_train = x_train.astype('float32')
x_test = x_test.astype('float32')

autoencoder.fit(x_train, x_train,
                epochs=50,
                batch_size=32,
                validation_data=(x_test, x_test))

encoder = Model(input_img, encoded)
encoder.save("encoder")